:root {
  --clr-black-grey: #2e323f;
  --clr-dark-grey: #3b4050;
  --clr-gray: #6f737f;

  --clr-brown: #a59678;
  --clr-white: #ffffff;

  --ff-oswald: "Oswald", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.3125rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.25rem;
  --fs-900: 3.625rem;

  @media (min-width: 50em) {
    --fs-900: 5.625rem;

  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul li {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Utility Classes */
.text-black-grey {
  color: var(--clr-black-grey);
}
.text-dark-grey {
  color: var(--clr-dark-grey);
}
.text-gray {
  color: var(--clr-gray);
}
.text-brown {
  color: var(--clr-brown);
}
.text-white {
  color: var(--clr-white);
}

.bg-black-grey {
  color: var(--clr-black-grey);
}
.bg-dark-grey {
  color: var(--clr-dark-grey);
}
.bg-gray {
  color: var(--clr-gray);
}
.bg-brown {
  color: var(--clr-brown);
}
.bg-white {
  color: var(--clr-white);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.ff-oswald {
  font-family: var(--ff-oswald);
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}




.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em 2em;
}

@media (min-width: 50em) {
  .container {
    padding: 5.5em 4em;
  }
}
@media (min-width: 75em) {
  .container {
    padding: 3em 6em;
  }
}

/* Nav styling */
.site-header {
  background-color: #2e323f;
}

.main-navigation {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.site-header .container {
  padding-block: 1.5em;
}

.nav-list-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 2em;
}
.nav-link {
  color: var(--clr-white);
  text-decoration: none;
  text-transform: uppercase;
}
.button {
  background: var(--clr-brown);
  color: var(--clr-white);
  padding: 0.2em 1.25em;
  border-radius: 10em;
}
@media (min-width: 50em) {
  .nav-list-container {
    display: flex;
    flex-direction: row;
    gap: 4em;
  }
  .nav-list {
    display: flex;
    gap: 2.8em;
  }
  .main-navigation {
    justify-content: space-between;
    flex-direction: row;
    gap: 2em;
  }
}

/* hero section */

.hero-section {
  background-color: #3b4050;
}
.hero-title {
  line-height: 1;
  color: var(--clr-white);
}
.hero-title span {
  color: var(--clr-brown);
}
.hero-text {
  margin-block: 2em;
}
.button {
  text-transform: uppercase;
  padding-block: 0.3em;
  outline: none;
  border-color: var(--clr-gray);
}
@media (min-width: 75em) {
  .hero-content {
    display: flex;
    gap: 4em;
    align-items: flex-end;
  }
  .hero-text {
    margin-block: 1em;
  }
}

/* feature section */

.features-section {
  background-color: hsl(0, 0%, 95%);
}
.features-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.feature-title {
  margin-bottom: 0.8em;
}
.feature-description {
  opacity: 0.8;
}
@media (min-width: 75em) {
  .features-container {
    flex-direction: row;
    text-align: center;
    gap: 3em;
  }
}

/* main content */

.section-heading {
  margin-bottom: 0.8em;
}
.content-image {
  margin-block: 4em;
}
.primary-content p {
  opacity: 0.7;
}

/* main-content sidebar  */

.main-content {
  display: flex;
  flex-direction: column;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-block: 4em;
}
.sidebar-box {
  margin-bottom: 0.8em;
  padding: 2em 3em;
  background-color: var(--clr-black-grey);
  text-align: center;
}
.sidebar-heading {
  margin-bottom: 0.8em;
}

@media (min-width: 75em) {
  .main-content {
    display: flex;
    flex-direction: row !important;
    gap: 6.5em;
  }
  .sidebar {
    flex-direction: column !important;
    width: 40%;
  }

  .primary-content {
    width: 60%;
  }
}
@media (min-width: 50em) {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    margin-block: 4em;
  }
  .sidebar .sidebar-box {
    padding: 2em 2em;
  }
}

/* site-footer */

.site-footer {
  background-color: var(--clr-dark-grey);
}
.footer-heading {
  text-align: center;
  margin-bottom: 1em;
}
.footer-column-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;
}
.footer-column-container h3 {
  margin-bottom: 0.5em;
}
.footer-column p {
  opacity: 0.8;
}
.footer-links li a {
  text-decoration: none;
  opacity: 0.8;
}
.footer-column-container .footer-column:not(:first-of-type) {
  min-width: fit-content;
}
@media (min-width: 75em) {
  .footer-column-container .footer-column:nth-of-type(1) {
    max-width: 415px;
  }
}

@media (min-width:50em) {
  .footer-column-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
    text-align: left;
    flex-wrap: wrap;
  }
}
